<div class="container">
    <h2>User info</h2>
    
    <% if @user.errors.any? %>
        <%= @user.errors.count %>error prohibited this obj from being saved:
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
    
    <%= form_with model: @user do |f| %>
    <div>
        <div>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        
        <div>
            <%= f.label :image %>
            <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        
        <div>
            <%= f.label :introduction %>
            <%= f.text_area :introduction %>
        </div>
        
        <div>
            <%= f.submit "Update User" %>
        </div>
    </div>
    <% end %>
</div>
